@import "tailwindcss";

@theme {
  --color-brand: #ba007c;
  --color-music: #ba007c;
  --color-theater: #009bdb;
  --color-expo: #ff7b00;
  --color-other: #555555;
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

.nav-link {
  @apply text-gray-600 hover:text-brand transition-colors duration-300 font-semibold;
}

.btn-primary {
  @apply inline-block bg-brand text-white px-6 py-2 rounded-full hover:bg-pink-700 transition-colors shadow-md hover:shadow-lg font-bold;
}

.card {
  @apply bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300 border border-gray-100;
}